@model Administration.Host.Models.Books.BookFiltredResultViewModel

@{
    ViewData["Title"] = "Filtred";
}

<h1>Список книг</h1>

<p>
    <a asp-action="Registration" asp-controller="Book">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Индетификатор
            </th>
            <th>
                Название
            </th>
           
            <th>
                Статус
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

            <td>
                    @Html.ActionLink("Изменить", "Update", new { bookId=item.Id }) |
                    @Html.ActionLink("Подробнее", "Find", new { bookId=item.Id}) |
                    @Html.ActionLink("Удалить", "Delete", new { bookId=item.Id })|
                    @Html.ActionLink("Изменить статус", "ChangeStatus", new {bookId=item.Id})|
                  
            </td>
        </tr>
}
    </tbody>
</table>
